/*ImportS*/

@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Monoton&display=swap');

/*Variables*/
:root{
  --header-height: 3rem;

  --title-color : #0b0a0a;
  --text-color : #403a3a;
  --text-color-light : #707070;
  --container-color : #fafafa;
  --container-color-light : #f0efef;
  --body-color : #fcfcfc;

  /*Fonts and Typo*/
  --body-font : 'Castoro', sans-serif;
  --h1-font-size : 1.5rem;
  --h2-font-size : 1.25rem;
  --h3-font-size : 1rem;
  --normal-font-size : .95rem;
  --small-font-size : .90rem;
  --smaller-font-size : .80rem;

  /*Margenes*/
  --mb-1 : .5rem;
  --mb-2 : 1rem;
  --mb-3 : 1.5rem;

  /*Z-Index*/
  --z-tooltip : 10;
  --z-fixed : 100;
}
/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}


/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*========== Font size variables to scale cv ==========*/


/*========== Generate PDF button ==========*/


/* Classes mod and print management*/
body{
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,h2,h3,ul,p{
  margin: 0;
}

h1,h2,h3{
  color: var(--title-color);
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--title-color);
}

img{
  max-width: 100%;
  height: auto;
}
/*Class CSS*/
.section{
  padding: 1.5rem 0;
}

.section-title{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-transform: uppercase;
  letter-spacing: .3rem;
  text-align: center;
  margin-bottom: var(--mb-3);
}

/*Layout*/
.bd-container{
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}
.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  box-shadow: 0 -1px 4px rgba(0,0,0,.2);
  transition: 0.3s;
}
/*========== NAV ==========*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 968px){
  .nav__menu{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    border-radius: 1rem 1rem 0 0;
    z-index: var(--z-fixed);
    transition: 0.5s;
  }
}

.nav__logo,
.nav__toggle{
  color: var(--title-color);
  z-index: 101;
}

.nav__toggle{
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__item{
  text-align: center;
}

.nav__list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link{
  display: flex;
  flex-direction: column;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.nav__link:hover{
  color: var(--title-color);
}

.nav__icon{
  font-size: 1.2rem;
  margin-bottom: var(--mb-1);
}
/* Show menu */
.show-menu{
  bottom: var(--header-height);
}

/* Active menu link */
.active-link{
  color: var(--title-color);
}


/*========== HOME ==========*/
.home{
  position: relative;
}

.home__container{
  gap: 3rem;
}

.home__data{
  gap: .5rem;
  text-align: center;
}

.home__img{
  width: 40vw;
  box-shadow: 0 4px 4px rgba(0,0,0,.2);
  border-radius: 50%;
  justify-self: center;
  margin-bottom: var(--mb-1);
}

.home__title{
  font-size: var(--h1-font-size);
}

.home__occupation{
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1);
}

.home__address{
  gap: 1rem;
}

.home__information{
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
}

.home__icon{
  font-size: 1.2rem;
  margin-right: .25rem;
}

.home__button-movil{
  display: inline-block;
  border: 2px solid var(--text-color);
  color: var(--title-color);
  padding: 1rem 2rem;
  border-radius: .25rem;
  transition: .5s;
  margin-top: var(--mb-3);
}

.home__button-movil:hover{
  background-color: var(--text-color);
  color: var(--container-color);
}
/*========== SOCIAL ==========*/


/*========== PROFILE ==========*/


/*========== EDUCATION AND EXPERIENCE ==========*/


/*========== SKILLS AND LANGUAGES ==========*/


/*========== CERTIFICATES ==========*/


/*========== REFERENCES ==========*/


/*========== INTERESTS ==========*/


/* Scroll top */


/*========== MEDIA QUERIES ==========*/
/* For small devices, menu two columns */


/* Classes modified for large screen size */
